*{
    margin:0;
    padding:0;
}
html, body{
    width:100%;
    height:100%;
    font-size:14px;
    font-weight:normal;
}
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 18.5px;
    font-weight: 700;
    color: white;
    border-radius: 0 5px 5px 0;
 }   
#mySidenav a:hover {
    left: 0;
}